@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    /* box-sizing: border-box; */
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form{
    background-color: #15172b;
    color: #ffffff;
    border-radius: 10px;
    padding: 20px;
}

.title{
    margin: 25px 0px 5px 0px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 40px;
}

.subtitle{
    margin: 0 0 30px 0;
    font-family: Roboto;
    font-weight: 500;
}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

input{
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    height: 100%;
    background-color: #303245;
    color: #ffffff;
    border: 0;
    padding: 18px;
    /* font-size: 15px; */
    font-size: 18px;
}

.ic1{
    position: relative;
}

.ic2{
    position: relative;
    margin: 30px 0 20px 0;
}

.cut{
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    position: absolute;
    left: 20px;
    /* top: -11px; */
    top: -17px;
    width: 76px;
    height: 17px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut{
    transform: translateY(2px);
    transform: translateY(8px);
    transition: transform 0.5s;
}

.placeholder{
    position: absolute;
    /* left: 10px; */
    top: 10px;
    left: 18px;
    color: #ffffff;
    display: flex;
    align-items: center;
    pointer-events: none;
    height: 28px;
    opacity: 0.7;
}

.cut-short{
    width: 50px;
    height: 17px;
}

button{
    width: 100%;
    background-color: #3e8edd;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 20px;
    color: #ffffff;
}

::placeholder{
    color: red;
}


.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translate(15px,-28px) scale(0.9);
  transform: translate(7px,-24px) scale(0.9);
  opacity: 1;
}

button:active{
    background-color: #2780d9;
}


.input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
}
  
.input:focus ~ .placeholder {
    color: #dc2f55;
}
