@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@200;700&display=swap");

*{
  margin: 0;
}

.btn{
  background-color: #1293e9;
  padding: 1.1em 2.2em;
  border-radius: 3px;
  position: relative;
}

a{
  text-decoration: none;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div a span b{
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: medium;
}

div a span.badge{
  font-size: large;
  color: #ffffff;
  font-family: sans-serif;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #000000;
  padding: 5px;
  position: absolute;
  bottom: 32px;
  left: 116px;
  text-align: center;
}